// buttons article (main-section)
.article__buttons {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.btn {
  border-radius: 25px;
}
.btn-light-g {
  color: $white;
  background-color: $nickel;
  @include hover(){
    background-color: $lightgray;
    border: $lightgray;
    color: $white;
  }
}
//
