// Esquema de colores 1
$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;

// Esquema de colores 2
$fuzzyguzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;

// Esquema de colores 3
$eerie-black: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;

// font-family
$roboto:'Roboto', sans-serif;
$playfair:'Playfair Display', serif;

// font weight
$light: 300;
$regular: 400;
$black: 900;

//  font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
