footer {
  background-color: $raisinblack;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

@media screen and (min-width: 601px) {
  .footer__logo {
    height: 7vh;
    }
}
@media screen and (max-width: 600px) {
  .footer__logo {
    height: 5vh;
  }
}
