.article {
  background-color: $white;
  font-family: $roboto;
  color: $nickel;
  font-weight: $regular;
  font-size: $small;
  margin-left: 5%;
  margin-right: 5%;
}

.naomi-foto {
  border-radius: 100%;
}
