.bg-dark {
  background-color: $eerie-black !important;
}

.logo-barber{
  height: 5vh;
}

.navbar-nav {
  font-family: $roboto;
  font-weight: $regular;
  font-size: $medium;
}

.blog {
  color: $fuzzyguzzy !important;
  @include hover() {
    color: $spanishpink !important;
  }
}
.navbar-collapse {
  padding-left: 45%;
}
.navbar-brand {
  padding-left: 10%;
}
